#titulo {
    color: aquamarine;
}
.container-fluid{
    margin-top: -3rem;
    margin-left: 10px;
    
}

.nav {
    display: block;
    text-transform: uppercase;
}

.container-titulo{
    padding-left: 4%;
    padding-top: 8%;
    color: #dcdcdc;
}
h2{
    font-size: 2.1rem;
}

.container-fluid-img{
    width: auto;
    height: 28rem;
    background-image: url(foto.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.nav-tabs .nav-historia.active{
    border-width: 5px 0 0 0;
    border-color:#ffe200  #dcdcdc  #ffffff;
}
.historia{
    border-left: 7px solid red;
    border-radius: 7px;
    border-color: #ffe200 ;
}


.nav-tabs .nav-cultura.active{
    border-width: 5px 0 0 0;
    border-color:#f0ad4e #dcdcdc  #ffffff;
}
.cultura{
    border-left: 7px solid red;
    border-radius: 7px;
    border-color: #f0ad4e;
}


.nav-tabs .nav-centro.active{
    border-width: 5px 0 0 0;
    border-color:#c189dd #dcdcdc  #ffffff;
}
.centro{
    border-left: 7px solid red;
    border-radius: 7px;
    border-color:#c189dd;
  
}

.nav-tabs .nav-galeria.active{
    border-width: 5px 0 0 0;
    border-color:#0ab4d6  #dcdcdc  #ffffff;
}
.galeria{
    border-left: 7px solid red;
    border-radius: 7px;
    border-color: #0ab4d6;
}
.galeria img{
    height: 300px;
    object-fit: contain;

}
.content{
   margin-left: 0;
    display: flex;
}
.info{
    width: 100%;
    
}
.socios   {
    width: 40%;
    margin: 0% 1% 0% 1%;
   
}
.socios .card-body   {
  
    height: 400px;
}
.socios-margin{
    border-left: 7px solid red;
    border-radius: 7px;
    border-color:#504c52;
}



.nav-tabs .nav-cronograma.active{
    border-width: 5px 0 0 0;
    border-color:#90d751 #dcdcdc  #ffffff;
}
.cronograma{
    border-left: 7px solid red;
    border-radius: 7px;
    border-color: #90d751;
}


.nav-tabs {
    border-bottom: 1px solid #dcdcdc;
  
}

.nav-tabs .nav-link {
    font-size: large;
    font-weight: 500;
    background: #ffffff;
    color: #1582ef;
    border-top: 5px solid rgb(67, 63, 63);
    border-radius: 7px;
    margin: 1px;
}
.card{
    margin-top: 30px;
   
}


.carousel-control-next,.carousel-control-prev{
    background-color:#bcc2c7;   
  
    width: 30px;

}


@media (min-width: 768px) {
    .nav{
        display: block;
        flex-wrap: nowrap;
        justify-content: flex-start;

    }
    .nav-link{
        padding: 10px 10px;
    }
}

@media (min-width: 992px) { 
    .nav{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .nav-link{
        padding: 10px 5px;
        
    }
   

  
  }
